.tooltip {
  margin: 4px 4px;
  padding: 0.6em 1em;
  max-height: 100%;
  width: fit-content;
  border-radius: 3px;
  color: #3f517e;
  /* You can also use a fixed width and ommit the white-sapce. */
  white-space: nowrap;
  background-color: #fff;
  transform: translate(calc( -50% + ${x}px), calc(-100% + ${y}px));
  text-align: center;
  line-height: 1.4em;
  font-size: 0.9em;
  z-index: 10;
  transition: all 0.1s ease-out;
}

.triangle {
  fill: #fff;
}
