.app {
  height: 100vh;
  width: 100vw;
}

text {
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  color: #737373;
}

.tick-text {
  font-size: 12px;
}

.axis-label {
  font-size: 22px;
}

.axis-baseline {
  stroke: #999999;
  stroke-width: 2;
}

.grid-line {
  stroke: #e1e1e1;
}
